{% extends "sheader.html" %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<head>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/bg-01.jpg'%}');">
		<h2 class="ltext-105 cl0 txt-center">
			Update Password
		</h2>
	</section>	

<!-- Content page -->

  <!-- Content page -->
<section class="bg0 p-t-104 p-b-116" >
    <div class="container" >
        <div class="flex-w flex-tr justify-content-center">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                {% if msg %}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                  </div> 
                {% elif msg1 %}
                <div class="alert alert-danger" role="alert">
                    {{msg1}}
                  </div> 
                {% endif %}
                <form method="post" action="{% url 'cpass' %}">
                    {% csrf_token %}
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        New Password
                    </h4>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="oldpassword" placeholder="Enter Old Password">
                        
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="newpassword" placeholder="Enter New Password">
                        
                    </div>
                <br>
                <div class="bor8 m-b-20 how-pos4-parent">
                    <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="cnewpassword" placeholder="Enter Confirm New Password">
                    
                </div>
            <br>
                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" style="margin-bottom: 80px;" type="submit">
                        Update Password
                    </button>
                </form>
            </div>
            

            
    </div>
</section>   
{% endblock %}