{% extends 'header.html '%}
{% load static %}
{% block content %}	
	<!-- Cart -->
	{% for i in cart %}
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>
		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>
				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{{i.product.ppicture}}" alt="IMG">
						</div>
						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								{{i.product.pname}}
							</a>
							<span class="header-cart-item-info">
								{{i.product.price}}
							</span>
						</div>
					</li>
				</ul>
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						{{i.tprice}}
					</div>
					<div class="header-cart-buttons flex-w w-full">
						<a href="shopping_cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>
						<a href="shopping_cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div> 
	</div> 
	{% endfor %}	
		<!-- breadcrumb -->
		<div class="container">
			<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
				<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
					Home
					<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
				</a>
	
				<span class="stext-109 cl4">
					Shoping Cart
				</span>
			</div>
		</div>
		
	<br>
	<br>
	<br>
	<!-- Shoping Cart -->
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Delete Product</th>
									<th class="column-6" style="margin-right: 50px;justify-content: center;">Total</th>
								</tr>
								{% for i in cart %}
								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="{{i.product.ppicture.url}}" alt="IMG">
										</div>
									</td>
									<td class="column-2">{{i.product.pname}}</td>
									<td class="column-3">{{i.product.price}}</td>
									<td class="column-4">
										<form method="post" action="{% url 'changequantity' pk=i.pk %}">
										{% csrf_token %}
											<div class="wrap-num-product flex-w m-l-auto m-r-0">
												<input class="mtext-104 cl3 txt-center num-product" type="number" name="cqty" value="{{i.cqty}}" onchange="this.form.submit()">
											</div>
										</form>
									</td>
									<td class="column-5">
										<div class="wrap-num-product flex-w m-l-auto m-r-0" style="margin-left:30px;justify-content: center;">
											<div class="btn-num-product-down cl8 hov-btn1 trans-04 flex-c-m">
												<a href="{% url 'deletetocart' pk=i.product.pk %}" style="color: black;"><i class="fs-25 zmdi zmdi-delete"></i></a>
											</div>
										</div>
									</td>
									<td class="column-6" style="margin-right: 20px;">{{i.tprice}}</td>
								</tr>
								{% endfor %}
							</table>
						</div>
						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Apply coupon
								</div>
							</div>
							<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								Update Cart
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>
						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
							</div>
							<div class="size-209">
								<span class="mtext-110 cl2">
									{{sc}}
								</span>
							</div>
						</div>
						<div class="flex-w flex-t bor12 p-t-15 p-b-30">
							<div class="size-208 w-full-ssm">
								<span class="stext-110 cl2">
									Shipping:
								</span>
							</div>
							<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
								<div class="p-t-15">
									<span class="stext-112 cl8">
										{{ship}}
									</span>										
								</div>
							</div>
						</div>
						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>
							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									{{sc}}
								</span>
							</div>
						</div>
						<form method="post">
							<button type="button" class="btn btn-lg btn-primary" id="rzp-button1">Checkout</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		<script>
			var options = {
				"key": "rzp_test_3iCOPLbchUyIwQ", // Enter the Key ID generated from the Dashboard
				"amount": "{{context.payment.amount}}",// Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
				"currency": "INR",
				"name": "Coza Store",
				"description": "Test Payment", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
				"handler": function (response){
	
					window.location.href=`http://127.0.0.1:8000//success?razorpay_payment_id=${response.razorpay_payment_id}`
	
					// alert(response.razorpay_payment_id);
					// alert(response.razorpay_order_id);
					
				},
				"theme": {
					"color": "#94CA21"
				}
			};
			var rzp1 = new Razorpay(options);
			rzp1.on('payment.failed', function (response){
					alert(response.error.code);
					alert(response.error.description);
					alert(response.error.source);
					alert(response.error.step);
					alert(response.error.reason);
					alert(response.error.metadata.order_id);
					alert(response.error.metadata.payment_id);
			});
			document.getElementById('rzp-button1').onclick = function(e){
				rzp1.open();
				e.preventDefault();
			}
		</script>       

</body>
</html>
{% endblock %}